.pointer {
  cursor: pointer;
}
.type {
  position: relative;
}
.type.active:after,
.type:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: blue;
}

.nav-item.active, .nav-item.active:focus {
  background-color: #0056b3 !important;
}
.nav-item.active a {
  color: #fff;
  background-color: transparent !important;
}

.enabled-field {
  background-color: rgb(52, 112, 224);
  color: #fff;
}

.disabled-field {
  position: relative;
  cursor: pointer;
}

.disabled-field:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.363);
}

.disabled-field:hover:after {
  display: none;
}

.tag-input{
  display: flex !important;
}

.tag-input .tags{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

div.form-control{
  padding: 0;
}

div.form-control .input{
  display: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
}

div.form-control.focus .input{
  display: block;
}

.span-tag{
  background-color: #ebeef2;
  color: black;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 5px;
  padding-right: 10px;
}

.span-tag span{
  margin-left: 10px;
}

.span-tag span:hover{
  cursor: pointer;
}

.container .row .mainBtn{
  margin-left: 20px;
  margin-bottom: 20px;
}

body.modal-open .container{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.spinner{
  display: none;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.486);
}

.alert{
  z-index: 10000;
  position: fixed !important;
  top: 20px;
  left: 30px;
}