.control_prepend {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.control_prepend .prepended {
    position: absolute;
    left: 0.6rem;
    color: gray;
}

.control_prepend .input {
    padding-left: 3rem;
}

.control_prepend .input:focus {
    border: none;
    outline: none;
}

.control_prepend .input:focus ~ .prepended {
    color: black;
}

.input {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    background-color: #eeeeee;
    line-height: 3rem;
}