body.mceContentBody.page-content {
  font-family: Verdana, Tahoma, Arial;
  font-size:14px;
  margin:0px;
  padding:5px;
}


/* fancybox fix for ActiveForm tooltip */
.fancybox-overlay {
  z-index:1000;
}
/* end */

/* form sended success */
.success-msg {
  width: 400px;
  height: 100%;
  text-align: center;
  overflow: auto;
  line-height: 71px;
}
/* end form sended success */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
img,
ol,
ul,
li,
form,
input {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Calibri';
  src: url('../themes/safita/fonts/Calibri.eot');
  src: url('../themes/safita/fonts/Calibri.woff') format('woff'), url('../themes/safita/fonts/Calibri.ttf') format('truetype'), url('../themes/safita/fonts/Calibri.svg') format('svg');
}
@font-face {
  font-family: 'Calibri-Bold';
  src: url('../themes/safita/fonts/Calibri-Bold.eot');
  src: url('../themes/safita/fonts/Calibri-Bold.woff') format('woff'), url('../themes/safita/fonts/Calibri-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Calibri-Light';
  src: url('../themes/safita/fonts/Calibri-Light.eot');
  src: url('../themes/safita/fonts/Calibri-Light.woff') format('woff'), url('../themes/safita/fonts/Calibri-Light.ttf') format('truetype');
}
/* BEGIN my-mixins */
.calibri-regular {
  font-family: 'Calibri', sans-serif;
}
.calibri-light {
  font-family: 'Calibri-Light', sans-serif;
}
.calibri-bold {
  font-family: 'Calibri-Bold', sans-serif;
}
.my-transition {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.horizontal-center-position-absolute {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vertical-center-position-absolute {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-and-vertical-position-absolute {
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cancel-center-position {
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
}
.fa-font {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.my-radius {
  border-radius: 4px;
}
/* END my-mixins */
a {
  color: black;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
.row {
  margin: 0px;
}
.container {
  width: 1000px;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
}
strong,
b {
  font-family: 'Calibri-Bold', sans-serif;
}
.my-navigation {
  padding: 0;
}
img {
  max-width: 100%;
  height: inherit;
}
.wrap-text-block {
  font-size: 16px;
  line-height: 1.2;
}
.wrap-text-block:before,
.wrap-text-block:after {
  content: " ";
  display: table;
}
.wrap-text-block:after {
  clear: both;
}
.wrap-text-block p {
  margin-bottom: 15px;
}
.wrap-text-block h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.wrap-text-block h2 {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.wrap-text-block h3 {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.wrap-text-block h4 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.wrap-text-block h5 {
  font-size: 16px;
}
.wrap-text-block h6 {
  font-size: 13px;
}
.wrap-text-block ul {
  padding-left: 30px;
  margin-bottom: 15px;
}
.wrap-text-block ol {
  padding-left: 30px;
  margin-bottom: 15px;
}
/* BEGIN header */
.top-header {
  padding: 15px 0;
}
.top-header__row div[class*=col-] {
  float: none;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 -2px;
}
.top-header__schedule {
  font-size: 18px;
  line-height: 22px;
  color: #1d1d1b;
  padding-left: 20px;
  padding-bottom: 8px;
}
.top-header__schedule-title {
  color: #db0812;
  font-family: 'Calibri-Bold', sans-serif;
}
.top-header__address {
  padding-left: 20px;
  padding-bottom: 8px;
}
.top-header__address-mail {
  color: #6c58a2;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 20px;
}
.top-header__address-text {
  font-size: 16px;
  line-height: 20px;
  color: #1d1d1b;
}
.top-header__contacts {
  text-align: right;
}
.top-header__contacts-number {
  font-size: 24px;
  line-height: 27px;
  font-family: 'Calibri-Bold', sans-serif;
}
.top-header__contacts-btn {
  padding-top: 9px;
}
.top-header__contacts-btn-link {
  display: inline-block;
  vertical-align: top;
  background: #F77400;
  font-size: 16px;
  line-height: 1;
  padding: 12px 29px;
  color: #ffffff;
}
.top-header__contacts-btn-link:focus {
  color: #ffffff;
}
.top-header__contacts-btn-link:hover {
  color: #ffffff;
  background: #008bcc;
}
.bottom-header {
  background: rgba(22, 144, 203, 0.8);
  position: relative;
  z-index: 999;
  height: inherit !important;
}
.header-nav {
  padding: 0;
}
.header-nav ul {
  list-style: none;
  text-align: center;
}
.header-nav ul li {
  display: inline-block !important;
  vertical-align: top;
  color: white;
}
.header-nav ul li a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  padding: 18px 30px;
  position: relative;
}
.header-nav ul li a:focus {
  color: #ffffff;
}
.header-nav ul li a:hover {
  color: black;
}
.header-nav ul li a.active {
  color: black;
}
.header-nav .dropdown-menu {
  background: #ffffff;
  padding: 20px 0;
  width: 450px;
}
.header-nav .dropdown-menu li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
  margin: 0 -2px;
}
.header-nav .dropdown-menu li a {
  text-transform: none;
  font-size: 16px;
  padding: 5px 5px;
  line-height: 1;
  margin-bottom: 10px;
  color: #000;
  padding-left: 40px;
  border-bottom: 1px solid transparent;
}
.header-nav .dropdown-menu li a:hover {
  color: #008bcc;
  background: transparent;
  text-decoration: underline;
}
.header-nav .dropdown-menu li:hover a {
  background: transparent;
  color: #008bcc;
}
.caret {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}
/* END header */
/* BEGIN main-slider-section */
.main-slider-section {
  position: relative;
}
.main-slider {
  margin-top: -60px;
}
.main-slider__one-slide {
  position: relative;
}
.main-slider__one-slide-img img {
  width: 100%;
}
.main-slider__text-block-position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #BFB499;
}
.main-slider__text-block {
  font-size: 40px;
  line-height: 1;
  color: #ffffff;
  padding: 11px 10px;
  position: relative;
}
.main-slider__text-block:before {
  content: "";
  position: absolute;
  border-top: 10px solid #e68f00;
  left: 0;
  width: 100%;
  bottom: 100%;
}
.main-slider .slick-arrow {
  height: 55px;
  width: 55px;
  z-index: 1;
  background-color: #6EA926;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-slider .slick-arrow:hover {
  background-color: #008BCC;
}
.main-slider .slick-prev {
  background-image: url("../themes/safita/img/arrow-left.png");
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: -470px;
}
.main-slider .slick-next {
  background-image: url("../themes/safita/img/arrow-right.png");
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 470px;
}
/* END main-slider-section */
.title {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
  font-family: 'Calibri-Bold', sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
.title--underline {
  text-decoration: underline;
}
.title--color-blue {
  color: #008bcc;
}
.title--color-green {
  color: #6ea926;
}
/* BEGIN scheme-of-work */
.scheme-of-work {
  padding: 35px 0px 0;
}
.scheme-of-work__content {
  border: 2px solid black;
  padding: 35px;
}
.scheme-of-work__row {
  margin: 0 -8px;
}
.scheme-of-work__col {
  padding: 0 10px;
  display: inline-block;
  margin: 0 -2px;
  width: 16.666%;
}
.scheme-of-work__title {
  font-family: 'Calibri-Bold', sans-serif;
  font-size: 20px;
  line-height: 1;
  position: relative;
  padding-top: 30px;
  text-align: center;
}
.scheme-of-work__title:before {
  content: "";
  width: 6px;
  height: 6px;
  top: 12px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background: black;
}
.scheme-of-work__icon-wrap {
  height: 66px;
  position: relative;
}
.scheme-of-work__icon {
  position: absolute;
  background: url("../themes/safita/img/sprite-scheme-of-work.png") no-repeat;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.scheme-of-work__icon--treatment {
  background-position: -126px -7px;
  width: 59px;
  height: 67px;
}
.scheme-of-work__icon--design {
  background-position: -262px 0;
  width: 75px;
  height: 74px;
}
.scheme-of-work__icon--agreement {
  background-position: -422px -7px;
  width: 65px;
  height: 67px;
}
.scheme-of-work__icon--production {
  background-position: -585px -7px;
  width: 70px;
  height: 67px;
}
.scheme-of-work__icon--mounting {
  background-position: -747px -7px;
  width: 94px;
  height: 64px;
}
.scheme-of-work__icon--guarantee {
  background-position: -927px -7px;
  width: 71px;
  height: 64px;
}
/* END scheme-of-work */
/* BEGIN about-us */
.about-us {
  padding-top: 0px;
}
.about-us__text-block {
  padding: 35px 40px 15px;
  background: #008BCC;
  color: #ffffff;
}
.about-us__text-block-link {
  font-family: 'Calibri-Bold', sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}
.about-us__text-block-link:focus {
  color: #000;
}
.about-us__text-block-link:hover {
  color: #000;
  text-decoration: none;
}
.bloquote {
  position: relative;
  padding: 0px 45px;
}
.bloquote:before {
  content: "";
  position: absolute;
  background: url("../themes/safita/img/quote-left.png") no-repeat;
  width: 30px;
  height: 25px;
  left: 0;
  top: 5px;
}
.bloquote:after {
  content: "";
  position: absolute;
  background: url("../themes/safita/img/quote-right.png") no-repeat;
  width: 30px;
  height: 25px;
  right: 0;
  top: 5px;
}
/* END about-us */
/* BEGIN footer */
.footer {
  background: #6c58a2;
  padding: 15px 0;
  color: #ffffff;
  margin-top: 40px;
}
.footer__logo {
  padding-top: 18px;
}
.footer__description {
  font-size: 14px;
  line-height: 1;
  padding-top: 15px;
}
.footer__nav {
  padding-left: 70px;
}
.footer__nav ul {
  list-style: none;
}
.footer__nav ul li {
  margin-bottom: 3px;
}
.footer__nav ul li a {
  color: #ffffff;
  display: inline-block;
  line-height: 1.1;
  position: relative;
}
.footer__nav ul li a:hover {
  color: black;
}
.footer__nav ul li a .caret {
  right: -15px;
}
.footer__nav ul li .dropdown-menu {
  background: #ffffff;
  padding: 20px 0;
  width: 450px;
  top: auto;
  bottom: 100%;
}
.footer__nav ul li .dropdown-menu li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
  margin: 0 -2px;
}
.footer__nav ul li .dropdown-menu li a {
  text-transform: none;
  font-size: 16px;
  padding: 5px 5px;
  line-height: 1;
  margin-bottom: 10px;
  color: #000;
  padding-left: 40px;
  border-bottom: 1px solid transparent;
}
.footer__nav ul li .dropdown-menu li a:hover {
  color: #008bcc;
  background: transparent;
  text-decoration: underline;
}
.footer__text-block {
  color: #1d1d1b;
  line-height: 1.2;
  padding-left: 35px;
}
.footer__social-title {
  color: #ffffff;
  line-height: 1;
  font-family: 'Calibri-Bold', sans-serif;
  margin-bottom: 10px;
}
.footer__social {
  margin-bottom: 25px;
  text-align: right;
}
.footer__social-list {
  list-style: none;
  font-size: 0;
  margin: 0 -10px;
}
.footer__social-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
.footer__social-list-link {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  background: url("../themes/safita/img/sprite-social.png") no-repeat;
}
.footer__social-list-link--fb {
  background-position: 0 0;
}
.footer__social-list-link--fb:hover {
  background-position: 0 -50px;
}
.footer__social-list-link--vk {
  background-position: -56px 0;
}
.footer__social-list-link--vk:hover {
  background-position: -56px -50px;
}
.footer__social-list-link--instagram {
  background-position: -112px 0;
}
.footer__social-list-link--instagram:hover {
  background-position: -112px -50px;
}
.footer__phone {
  text-align: right;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Calibri-Bold', sans-serif;
}
/* END footer */
/* BEGIN services-list */
.services-list {
  padding-top: 35px;
}
.services-list__list {
  list-style: none;
}
.services-list__list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0 -2px 35px;
  height: 90px;
}
.services-list__list-item:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.services-list__list-item:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19px 19px 19px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}
.services-list__list-item:hover {
  background: #F6F6F6;
}
.services-list__list-item.active {
  background: #F6F6F6;
}
.services-list__list-item--red {
  background: #D80911;
}
.services-list__list-item--red:hover a {
  color: #D80911;
}
.services-list__list-item--red.active a {
  color: #D80911;
}
.services-list__list-item--orange {
  background: #F77400;
}
.services-list__list-item--orange:hover a {
  color: #F77400;
}
.services-list__list-item--orange.active a {
  color: #F77400;
}
.services-list__list-item--yellow {
  background: #EEA800;
}
.services-list__list-item--yellow:hover a {
  color: #EEA800;
}
.services-list__list-item--yellow.active a {
  color: #EEA800;
}
.services-list__list-item--green {
  background: #6EA926;
}
.services-list__list-item--green:hover a {
  color: #6EA926;
}
.services-list__list-item--green.active a {
  color: #6EA926;
}
.services-list__list-item--purple {
  background: #6C58A2;
}
.services-list__list-item--purple:hover a {
  color: #6C58A2;
}
.services-list__list-item--purple.active a {
  color: #6C58A2;
}
.services-list__list-item-link {
  font-size: 20px;
  line-height: 1.1;
  display: block;
  position: relative;
  vertical-align: middle;
  height: 100%;
  text-align: center;
  color: #ffffff;
}
.services-list__list-item-link:focus {
  color: #ffffff;
}
.services-list__list-item-link-name {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 50px;
}
/* END services-list */
/* BEGIN our-production */
.our-production {
  padding-top: 35px;
}
.our-production__row {
  margin: 0 -25px;
}
.our-production__row div[class*=col-] {
  padding: 0 25px;
}
.our-production__content {
  background: url("../themes/safita/img/bg-our-production.jpg") no-repeat;
  background-size: cover;
  padding: 45px 0;
}
.video-block {
  border: 1px solid #EEF0E9;
  height: 275px;
}
.video-block iframe{
	width:100%;
  height:100%;
  border:none;
}
/* END our-production */
.js-gallery {
  position: relative;
  height: 100%;
  display: block;
}
/* BEGIN our-work */
.our-work__row {
  font-size: 0;
  position: relative;
  text-align:center;
  padding-top:15px;
}
.our-work__row.green:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #6EA926;
}
.our-work__row.green .one-work__text {
  background: #6EA926;
}
.our-work__row.red:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #D80911;
}
.our-work__row.red .one-work__text {
  background: #D80911;
}
.our-work__row.orange:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #F77400;
}
.our-work__row.orange .one-work__text {
  background: #F77400;
}
.our-work__row.yellow:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #EEA800;
}
.our-work__row.yellow .one-work__text {
  background: #EEA800;
}
.our-work__row.green:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #6EA926;
}
.our-work__row.green .one-work__text {
  background: #6EA926;
}
.our-work__row.purple:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  border-top: 10px solid #6C58A2;
}
.our-work__row.purple .one-work__text {
  background: #6C58A2;
}
.our-work__col {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.one-work {
  height: 300px;
  overflow: hidden;
  position: relative;
  display:inline-block;
  vertical-align: top;
}
.one-work__text {
  top: 120%;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 22px;
  line-height: 1;
  padding: 9px 15px;
    width: 200px;
  text-align:center;
}
.one-work__text:focus,
.one-work__text:hover {
  color: #ffffff;
}
.one-work__text:hover {
  opacity: .9;
}
.one-work:hover .one-work__text {
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.one-work__gallery:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 120%;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.one-work__gallery:hover:before {
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
/* END our-work */
/* BEGIN contacts */
.contacts {
  padding-top: 0px;
}
.contacts__content {
  padding: 30px 24px;
  background: #F6F6F6;
}
.contacts__row {
  margin: 0 -15px;
}
.contacts__text-block {
  padding-top: 5px;
}
.contacts__text-block strong{
	font-weight:normal;
  font-family: 'Calibri', sans-serif;
}
.form-block__title {
  font-size: 24px;
  line-height: 1;
  /*font-family: 'Calibri-Bold', sans-serif;*/
  margin-bottom: 15px;
}
.form-block__row {
  margin: 0 -7px;
}
.form-block__row div[class*=col-] {
  padding: 0 7px;
}
.form-element {
  margin-bottom: 15px;
}
.form-element__input {
  background: #ffffff;
  font-size: 14px;
  line-height: 1;
  padding: 7px 15px;
  display: block;
  width: 100%;
  border: none;
}
.form-element__textarea {
  background: #ffffff;
  font-size: 14px;
  line-height: 1;
  padding: 8px 15px;
  display: block;
  width: 100%;
  min-height: 77px;
  border: none;
  outline: none;
}
.form-element__btn {
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  padding: 8px 15px;
  border: none;
  background: #008BCC;
}
.form-element__btn:focus {
  color: #ffffff;
}
.form-element__btn:hover {
  color: #ffffff;
  opacity: .8;
}
/* END contacts */
/* BEGIN map */
.map {
  padding-top: 40px;
}
.map__wrapper {
  height: 490px;
}
/* END map */
/* BEGIN prices */
.prices {
  padding-top: 0;
}
.prices__text-block {
  padding: 40px 40px 30px;
  color: #1d1d1b;
  background: #f6f6f6;
}
/* END prices */
/* BEGIN pdf-files */
.pdf-files {
  padding-top: 40px;
}
.pdf-files__content {
  padding: 0 2px;
}
.pdf-files__row {
  margin: 0 -2px 4px;
}
.pdf-files__row div[class*=col-] {
  padding: 0 2px;
}
.pdf-files__name {
  background: #008bcc;
  font-size: 18px;
  line-height: 1;
  padding: 10px 35px;
  color: #ffffff;
  text-align: right;
}
.pdf-files__name:first-letter{
	text-transform: uppercase;
}

.pdf-files__link-wrap {
  font-size: 18px;
  line-height: 1;
  background: #eeeeee;
  padding: 10px 24px;
}
.pdf-files__link {
  position: relative;
  padding-left: 30px;
}
.pdf-files__link:before {
  content: "\f1c1";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  top: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pdf-files__link:hover {
  text-decoration: underline;
  color: #008bcc;
}
/* END pdf-files */
/* BEGIN text-page */
.text-block__content {
  background: #f6f6f6;
  padding: 35px 40px;
}
.text-block__btn-wrap {
  text-align: center;
  padding-top: 15px;
}
.my-btn {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 22px;
  line-height: 1;
  padding: 9px 5px;
  text-align: center;
}
.my-btn:focus {
  color: #ffffff;
}
.my-btn:hover {
  color: #ffffff;
  opacity: .8;
}
.my-btn--blue-bg {
  background: #008bcc;
}
.my-btn--green-bg {
  background: #6EA926;
}
/* END text-page */
/* BEGIN gallery-block */
.gallery-block {
  padding-top: 40px;
}
.gallery-block__btn-wrap {
  padding-top: 40px;
  text-align: center;
}
.gallery-slider {
  margin: 0 -10px;
}
.gallery-slider__one-slide {
  padding: 0px 10px;
}
.gallery-slider__one-slide img {
  margin: auto;
}
/* END gallery-block */
.scroll-top-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  text-align: center;
  cursor: pointer;
}
.scroll-top-btn:hover .scroll-top-btn__img {
  background: url("../themes/safita/img/scroll-top-hover.png") no-repeat;
}
.scroll-top-btn:hover .scroll-top-btn__text {
  color: #008bcc;
}
.scroll-top-btn__img {
  width: 74px;
  height: 74px;
  background: url("../themes/safita/img/scroll-top.png") no-repeat;
  background-size: contain;
}
.scroll-top-btn__text {
  font-size: 20px;
  line-height: 1.2;
  color: #4e4e4e;
  font-family: 'Calibri-Bold', sans-serif;
}
.bread-crumbs {
  padding: 25px 0;
  font-size: 16px;
  line-height: 1;
}
.bread-crumbs__list {
  list-style: none;
}
.bread-crumbs__item {
  display: inline-block;
}
.bread-crumbs__delimiter {
  margin: 0 7px;
}
.bread-crumbs__link {
  font-family: 'Calibri-Bold', sans-serif;
  text-decoration: underline;
}
.popup {
  width: 385px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #0F719E;
  padding: 30px 55px 15px;
  display: none;
}
.popup__title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 25px;
  color: #ffffff;
  text-align: center;
  font-family: 'Calibri-Bold', sans-serif;
}
.sticky {
  position: fixed;
  top: 0px;
  z-index: 999;
}
/* BEGIN our-work-inside */
.work-small-slider {
  padding-bottom: 60px;
  margin-bottom: 15px;
}
.work-small-slider:before {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  left: 0;
  bottom: 100%;
  width: 100%;
}
.work-small-slider.red:before {
  border-color: #D80911;
}
.work-small-slider.red .work-small-slider__hover:after {
  border-color: transparent transparent #D80911 transparent;
}
.work-small-slider.orange:before {
  border-color: #F77400;
}
.work-small-slider.orange .work-small-slider__hover:after {
  border-color: transparent transparent #F77400 transparent;
}
.work-small-slider.yellow:before {
  border-color: #EEA800;
}
.work-small-slider.yellow .work-small-slider__hover:after {
  border-color: transparent transparent #EEA800 transparent;
}
.work-small-slider.green:before {
  border-color: #6EA926;
}
.work-small-slider.green .work-small-slider__hover:after {
  border-color: transparent transparent #6EA926 transparent;
}
.work-small-slider.purple:before {
  border-color: #6C58A2;
}
.work-small-slider.purple .work-small-slider__hover:after {
  border-color: transparent transparent #6C58A2 transparent;
}
.work-small-slider__one-slide {
  position: relative;
}
.work-small-slider__one-slide:hover .work-small-slider__hover {
  top: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.work-small-slider__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  top: 120%;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 100%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.work-small-slider__hover:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}
.work-small-slider__hover:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 32px 32px 32px;
  bottom: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.work-small-slider__hover-text {
  display: inline-block;
  vertical-align: middle;
}
.work-small-slider .slick-arrow {
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  background: url("../themes/safita/img/sprite-gallery.png") no-repeat;
  width: 40px;
  height: 43px;
  bottom: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.work-small-slider .slick-prev {
  background-position: -6px 0;
  left: calc(50% - 20px);
}
.work-small-slider .slick-prev:hover {
  background-position: -132px 0;
}
.work-small-slider .slick-next {
  background-position: -64px 0;
  left: calc(50% + 20px);
}
.work-small-slider .slick-next:hover {
  background-position: -200px -1px;
}
.work-big-slider__one-slide {
  padding: 0 250px;
}
.work-big-slider__one-slide img {
  margin: auto;
}
.work-big-slider .slick-arrow {
  background: url("../themes/safita/img/sprite-gallery.png") no-repeat;
  width: 47px;
  height: 90px;
  z-index: 1;
}
.work-big-slider .slick-prev {
  background-position: -138px -67px;
  left: 183px;
}
.work-big-slider .slick-prev:hover {
  background-position: 0 -67px;
}
.work-big-slider .slick-next {
  background-position: -216px -67px;
  right: 183px;
}
.work-big-slider .slick-next:hover {
  background-position: -68px -67px;
}
/* END our-work-inside */
#anchor-page {
  position: absolute;
  top: calc(100% - 60px);
}
/*******media**********/
@media (max-width: 1020px) and (min-width: 992px) {
  .top-header__row div[class*=col-] {
    width: 50%;
  }
}
@media screen and (max-width: 1020px) {
  .container {
    width: 750px;
  }
  .work-big-slider__one-slide {
    padding: 0 115px;
  }
  .work-big-slider .slick-prev {
    left: 55px;
  }
  .work-big-slider .slick-next {
    right: 55px;
  }
  .top-header__row div[class*=col-],
  .top-header__contacts {
    text-align: center;
  }
  .top-header__schedule {
    padding-left: 0;
  }
  .top-header__address-mail {
    margin-bottom: 14px;
  }
  .header-nav ul li a {
    font-size: 20px;
    padding: 20px 17px;
  }
  .top-header__logo img {
    max-width: 160px;
  }
  .main-slider .slick-prev {
    margin-left: -340px;
  }
  .main-slider .slick-next {
    margin-left: 340px;
  }
  .main-slider__text-block {
    font-size: 30px;
  }
  .services-list__list-item-link-name {
    padding: 5px 20px;
  }
  .services-list__list-item-link {
    font-size: 17px;
  }
  .scheme-of-work__content {
    padding: 30px 15px;
  }
  .scheme-of-work__title {
    font-size: 17px;
  }
  .one-work {
    height: 215px;
  }
  .footer__phone {
    font-size: 21px;
  }
  .footer__text-block {
    font-size: 15px;
    padding-left: 0;
  }
  .footer__nav {
    padding-left: 35px;
  }
  .one-work__text {
    padding: 9px 50px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 460px;
  }
  .work-big-slider__one-slide {
    padding: 0 50px;
  }
  .work-big-slider .slick-prev {
    left: 0;
  }
  .work-big-slider .slick-next {
    right: 0;
  }
  .top-header__address {
    display: none;
  }
  .top-header__contacts-number {
    font-size: 26px;
    line-height: 29px;
  }
  .top-header__row div[class*=col-] {
    display: block;
  }
  .navbar-toggle {
    border: 1px solid #fff;
  }
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  .main-slider {
    margin-top: 0;
  }
  .navbar-header {
    position: relative;
    width: 100%;
  }
  .header-nav ul li {
    display: block !important;
  }
  .header-nav ul li a {
    font-size: 17px;
    padding: 11px 10px;
  }
  .header-nav .dropdown-menu li a {
    padding: 0px 5px;
    margin-bottom: 7px;
    padding-left: 20px;
  }
  .header-nav .dropdown-menu {
    padding: 15px 0 7px;
    width: 450px;
    position: relative;
  }
  .services-list__list {
    text-align: center;
  }
  .services-list__list-item {
    width: 25%;
    margin: 0 -2px 25px;
  }
  .services-list__list-item-link {
    font-size: 16px;
  }
  .services-list__list-item {
    width: 32%;
  }
  .services-list__list-item-link-name {
    padding: 5px 23px;
  }
  .scheme-of-work__col {
    width: 32%;
    margin: 15px -2px;
  }
  .scheme-of-work__row {
    text-align: center;
  }
  .scheme-of-work__content {
    padding: 15px 10px;
  }
  .video-block {
    margin: 15px 0;
  }
  .one-work {
    height: 130px;
  }
  .footer__nav {
    display: none;
  }
  .footer {
    text-align: center;
  }
  .footer__social {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 15px;
  }
  .footer__phone {
    text-align: center;
  }
  .footer__description {
    padding-bottom: 15px;
  }
  .main-slider__text-block {
    font-size: 23px;
    padding: 9px 5px;
  }
  .main-slider .slick-arrow {
    height: 40px;
    width: 40px;
  }
  .main-slider .slick-prev {
    margin-left: -210px;
  }
  .main-slider .slick-next {
    margin-left: 210px;
  }
  .bottom-header .caret {
    position: static;
  }
  .pdf-files__name {
    text-align: center;
  }
  .pdf-files__link-wrap {
    text-align: center;
    margin-bottom: 10px;
  }
  .map__wrapper {
    height: 380px;
  }
  .work-big-slider {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .container {
    width: 310px;
  }
  .top-header__row div[class*=col-] {
    padding: 0 5px;
  }
  .main-slider__text-block {
    font-size: 17px;
    padding: 7px 2px;
  }
  .main-slider .slick-prev {
    margin-left: -135px;
  }
  .main-slider .slick-next {
    margin-left: 135px;
  }
  .services-list__list-item {
    width: 50%;
    margin: 0 -2px 15px;
  }
  .scheme-of-work__col {
    width: 50%;
  }
  .about-us__text-block {
    padding: 30px 20px 15px;
  }
  .video-block {
    height: 180px;
  }
  .one-work {
    height: 90px;
  }
  .prices__text-block {
    padding: 30px 20px 20px;
  }
  .header-nav .dropdown-menu {
    width: 100%;
  }
  .header-nav .dropdown-menu li {
    display: block;
    width: auto;
    text-align: center;
  }
  .top-header__address {
    display: block;
    padding-left: 0;
  }
  .top-header__address-text {
    font-size: 18px;
  }
  .popup {
    width: 290px;
    padding: 20px 15px 25px;
  }
  .popup__title {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .main-slider .slick-prev,
  .main-slider .slick-next {
    top: 37%;
  }
}
/*# sourceMappingURL=custom.map */